/* * Toggle Themes */
/*========== Button Dark/Light ==========*/

.change-theme {
  font-size: 1.1rem;
  transform: rotate(-15deg);
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
  transition: var(--transition);
  z-index: 1;
}
.change-theme:hover {
  color: var(--first-color);
}

/* * For Medium Sizes */
@media screen and (min-width: 768px) {
  .change-theme {
    margin: 0;
  }
}
