/* * Toggle Themes */
/*========== Button Dark/Light ==========*/

.change-theme {
  font-size: 1.1rem;
  transform: rotate(-15deg);
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}
.change-theme:hover {
  color: var(--first-color);
}
