.home-container {
  gap: 1rem;
}

.home-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home-social-icon {
  font-size: 1.2rem;
  color: var(--first-color);
  transition: var(--transition);
}
.home-social-icon:hover {
  color: var(--first-color-alt);
}

.home-blob {
  width: 200px;
  fill: var(--first-color);
}
.home-blob-img {
  width: 170px;
}

.home-data {
  grid-column: 1/3;
}
.home-title {
  font-size: var(--big-font-size);
}
.home-subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}
.home-description {
  margin-bottom: var(--mb-2);
}

/*==================== MEDIA QUIRIES ====================*/
/* * For Small Sizes */
@media screen and (max-width: 350px) {
  .home-content {
    grid-template-columns: 0.25fr 3fr;
  }
  .home-blob {
    width: 180px;
  }
}

/* * For Medium Sizes */
@media screen and (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home-data {
    grid-column: initial;
  }
  .home-img {
    order: 1;
    justify-self: center;
  }
}
@media screen and (min-width: 768px) {
  .home-container {
    row-gap: 5rem;
  }
  .home-content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home-blob {
    width: 270px;
  }
}
/* * For Large Sizes */
@media screen and (min-width: 1024px) {
  .home-blob {
    width: 320px;
  }
  .home-social {
    transform: translateX(-6rem);
  }
  .home-social-icon {
    font-size: 2rem;
  }
}
