.home-container {
  gap: 1rem;
}

.home-content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home-social-icon {
  font-size: 1.2rem;
  color: var(--first-color);
  transition: var(--transition);
}
.home-social-icon:hover {
  color: var(--first-color-alt);
}

.home-blob {
  width: 200px;
  fill: var(--first-color);
}
.home-blob-img {
  width: 170px;
}

.home-data {
  grid-column: 1/3;
}
.home-title {
  font-size: var(--big-font-size);
}
.home-subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}
.home-description {
  margin-bottom: var(--mb-2);
}
