/* ============== Qualifications =============== */
.qualification-tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.qualification-btn {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: var(--transition);
}
.qualification-btn:hover {
  color: var(--first-color);
}
.qualification-btn.active {
  color: var(--first-color);
}
.qualification-icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}
.qualification-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}
.qualification-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification-subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.qualification-calender {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
.qualification-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}
