.about-img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-items: center;
  margin: auto;
}
.about-description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}
.about-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}
.about-info-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.about-info-name {
  font-size: var(--smaller-font-size);
}
.about-info-title,
.about-info-name {
  display: block;
  text-align: center;
}
.about-btns {
  display: flex;
  justify-content: center;
}

/*==================== MEDIA QUIRIES ====================*/
/* * For Medium Sizes */
@media screen and (min-width: 568px) {
  .about {
    height: 100vh;
  }
  .about-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* * For Medium Sizes */
@media screen and (min-width: 768px) {
  .about-container {
    column-gap: 5rem;
  }
  .about-img {
    width: 350px;
  }
  .about-description {
    text-align: initial;
  }
  .about-info {
    justify-content: space-between;
  }
  .about-btns {
    justify-content: initial;
  }
}
