/* ============== SERVICES ============== */
.services-container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.services-content {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: var(--transition);
}
.services-content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.services-icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}
.services-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.services-btn {
  font-size: var(--small-font-size);
}
.services-btn:hover .btn-icon {
  transform: translateX(0.25rem);
}

.services-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.services-modal.active {
  opacity: 1;
  visibility: visible;
}

.services-modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}
.services-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.services-modal-content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.services-modal-services {
  row-gap: 1rem;
}
.services-modal-service {
  display: flex;
  justify-content: start;
  align-items: center;
}
.services-modal-icon {
  color: var(--first-color);
  margin-right: var(--mb-0-5);
}

/*==================== MEDIA QUIRIES ====================*/
/* * For Small Sizes */
@media screen and (max-width: 350px) {
  .services-container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services-content {
    padding-right: 3.5rem;
  }

  .services-modal {
    padding: 0 0.5rem;
  }
}

/* * For Medium Sizes */
@media screen and (min-width: 768px) {
  .services-container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }
  .services-icon {
    font-size: 2rem;
  }
  .services-modal-content {
    width: 500px;
  }
}
/* * For Large Sizes */
@media screen and (min-width: 1024px) {
  .services-container {
    grid-template-columns: repeat(3, 238px);
  }
}
