/* * PORTFOLIO */
.portfolio-container {
  overflow: initial;
}
.categories-btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.categories-btn {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: var(--transition);
  text-transform: capitalize;
}
.categories-btn:hover,
.categories-btn.active {
  background-color: var(--first-color);
  color: var(--container-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.portfolio-content {
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1.5rem;
}
.portfolio-img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}
.portfolio-data {
  background-color: var(--container-color);
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  transition: var(--transition);
}
.portfolio-data:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
}
.portfolio-data-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}
.portfolio-data-description {
  margin-bottom: var(--mb-0-75);
}
.portfolio-btn:hover .btn-icon {
  transform: translateX(0.25rem);
}

.projects-btn {
  font-size: var(--small-font-size);
}
.projects-btn:hover .btn-icon,
.single-project-container a:hover .btn-icon {
  transform: translateX(0.25rem);
}

.single-project-header {
  display: flex;
  justify-content: space-between;
}
.single-project-header-title {
  text-transform: capitalize;
}
.single-project-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
  transition: var(--transition);
}
.single-project-icon:hover {
  color: var(--first-color-alt);
}
.description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}
.technology-name h4 {
  text-transform: uppercase;
  color: var(--body-color);
  background: var(--first-color);
  display: inline-block;
  margin-right: var(--mb-1);
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  margin-bottom: var(--mb-3);
}
.technology-name h4:hover {
  background-color: var(--first-color-alt);
}
.demo-btn {
  padding: 1rem 0;
}
