/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== transition ==========*/
  --transition: ease-in-out 0.3s;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}
.section-title {
  font-size: var(--h1-font-size);
}
.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}
.section-title,
.section-subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== BUTTONS ====================*/
.btn {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  font-weight: var(--font-medium);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--first-color-alt);
}
.btn-flex {
  display: inline-flex;
  align-items: center;
}
.btn-small {
  padding: 0.75rem 1rem !important;
}
.btn-link {
  padding: 0 !important;
  background-color: transparent !important;
  color: var(--first-color) !important;
}
.btn-link:hover {
  background-color: transparent !important;
  color: var(--first-color-alt) !important;
}

.btn-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: var(--transition);
}

/* * PORTFOLIO */
.portfolio-container {
  overflow: initial;
}
.categories-btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.categories-btn {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  transition: var(--transition);
  text-transform: capitalize;
}
.categories-btn:hover,
.categories-btn.active {
  background-color: var(--first-color);
  color: var(--container-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.portfolio-content {
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1.5rem;
}
.portfolio-img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}
.portfolio-data {
  background-color: var(--container-color);
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  transition: var(--transition);
}
.portfolio-data:hover {
  box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
}
.portfolio-data-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}
.portfolio-data-description {
  margin-bottom: var(--mb-0-75);
}
.portfolio-btn:hover .btn-icon {
  transform: translateX(0.25rem);
}

.projects-btn {
  font-size: var(--small-font-size);
}
.projects-btn:hover .btn-icon,
.single-project-container a:hover .btn-icon {
  transform: translateX(0.25rem);
}

.single-project-header {
  display: flex;
  justify-content: space-between;
}
.single-project-header-title {
  text-transform: capitalize;
}
.single-project-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
  transition: var(--transition);
}
.single-project-icon:hover {
  color: var(--first-color-alt);
}
.description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}
.technology-name h4 {
  text-transform: uppercase;
  color: var(--body-color);
  background: var(--first-color);
  display: inline-block;
  margin-right: var(--mb-1);
  padding: 0.375rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  margin-bottom: var(--mb-3);
}
.technology-name h4:hover {
  background-color: var(--first-color-alt);
}
.demo-btn {
  padding: 1rem 0;
}
