/* * Footer */
.footer {
  padding-top: 2rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bg {
  background-color: var(--first-color-second);
  padding: 1.5rem 0 1rem;
}

.footer-title,
.footer-subtitle,
.footer-social {
  color: #fff;
}

.footer-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
.footer-subtitle {
  font-size: var(--small-font-size);
}

.footer-social {
  font-size: 1.25rem;
  margin-left: var(--mb-1-5);
  transition: var(--transition);
}
.footer-social:hover {
  color: var(--first-color-lighter);
}

.footer-copy-right {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-1-5);
}
