.slider {
  margin: 0 auto;
  margin: 3rem 0 5rem;
  width: 100%;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.project-img {
  margin: 1rem;
  width: 85%;
  height: 100%;
}
.prev,
.next {
  position: absolute;
  top: 225px;
  transform: translateY(-50%);
  width: 2.25rem;
  height: 2.25rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  background-color: transparent;
  color: var(--first-color);
  border-radius: 50%;
  border: 1px solid var(--first-color);
}

.next-icon,
.prev-icon {
  transition: var(--transition);
}
.next:hover .next-icon {
  transform: translateX(0.25rem);
}

.prev:hover .prev-icon {
  transform: translateX(-0.25rem);
}

.prev {
  left: 0;
}
.next {
  right: 0;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
figure.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
figure.lastSlide {
  transform: translateX(-100%);
}
figure.nextSlide {
  transform: translateX(100%);
}

/* * TESTIMONIALS  */
.testimonial-icon-star {
  color: #ffd700;
}
figure h4 {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid var(--first-color-lighter);
  box-shadow: var(--dark-shadow);
}
.person-title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.person-text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
}
.person-icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--first-color-lighter);
}
