/* * CONTACT ME  */
.contact-container {
  row-gap: 3rem;
}

.contact-info {
  display: flex;
  margin-bottom: var(--mb-2);
}
.contact-icon {
  font-size: 2.5rem;
  color: var(--first-color);
  margin-right: var(--mb-1);
}
.contact-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact-subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact-content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}
.contact-label {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.contact-input {
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}

/* * Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--body-color);
  border-radius: 0.5rem;
  width: 90vw;
  height: 30vh;
  max-width: 620px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--first-color);
  cursor: pointer;
}
