/* * Navbar */
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.header-shadow {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav-logo:hover {
  color: var(--first-color);
}
.nav-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--first-color);
}
@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: var(--transition);
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav-link:hover,
.nav-link.active {
  color: var(--first-color);
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
  transition: var(--transition);
}
.nav-close:hover {
  color: var(--first-color-alt);
}
/* show menu */
.show-menu {
  bottom: 0;
}

.nav-btns {
  display: flex;
  align-items: center;
}

/*==================== MEDIA QUIRIES ====================*/
/* * For Small Sizes */
@media screen and (max-width: 350px) {
  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav-list {
    column-gap: 0;
  }
}
/* * For Medium Sizes */
@media screen and (min-width: 768px) {
  .header {
    top: 0;
    bottom: initial;
    padding: 0 1rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav-icon,
  .nav-toggle,
  .nav-close {
    display: none;
  }
  .nav-list {
    display: flex;
    column-gap: 2rem;
  }
  .nav-menu {
    margin-left: auto;
  }
}
/* * For Large Sizes */
@media screen and (min-width: 1024px) {
  .header {
    padding: 0;
  }
}
